(
A,
Aacute,
Abreve,
Abreveacute,
Abrevedotbelow,
Abrevegrave,
Abrevehookabove,
Abrevetilde,
Acaron,
Acircumflex,
Acircumflexacute,
Acircumflexdotbelow,
Acircumflexgrave,
Acircumflexhookabove,
Acircumflextilde,
Adblgrave,
Adieresis,
Adieresismacron,
Adotbelow,
Adotmacron,
Agrave,
Ahookabove,
Ainvertedbreve,
Amacron,
Aogonek,
Aring,
Aringacute,
Aringbelow,
Atilde,
AE,
AEacute,
AEmacron,
B,
Bdotaccent,
Bdotbelow,
Bhook,
Blinebelow,
Btopbar,
C,
Cacute,
Ccaron,
Ccedilla,
Ccedillaacute,
Ccircumflex,
Cdotaccent,
Chook,
D,
DZ,
Dbar1,
Dcaron,
Dcedilla,
Dcircumflexbelow,
Dcroat,
Ddotaccent,
Ddotbelow,
Dhook,
Dlinebelow,
Dtopbar,
Dz,
Dzcaron_,
Eth,
E,
Eacute,
Ebreve,
Ecaron,
Ecedillabreve,
Ecircumflex,
Ecircumflexacute,
Ecircumflexbelow,
Ecircumflexdotbelow,
Ecircumflexgrave,
Ecircumflexhookabove,
Ecircumflextilde,
Edblgrave,
Edieresis,
Edotaccent,
Edotbelow,
Egrave,
Ehookabove,
Einvertedbreve,
Emacron,
Emacronacute,
Emacrongrave,
Eogonek,
Epsilon1,
Esh,
Etilde,
Etildebelow,
Eturn,
Schwa,
Ezh,
Ezhcaron,
Ezhreversed,
F,
Fdotaccent,
Fhook,
G,
Gacute,
Gbar,
Gbreve,
Gcaron,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
Ghook,
Gmacron,
uni021C,
H,
Hbar,
Hbrevebelow,
Hcedilla,
Hcircumflex,
Hdieresis,
Hdotaccent,
Hdotbelow,
I,
IJ,
Iacute,
Ibreve,
Icaron,
Icircumflex,
Idblgrave,
Idieresis,
Idieresisacute,
Idotaccent,
Idotbelow,
Igrave,
Ihookabove,
Iinvertedbreve,
Imacron,
Iogonek,
Iota,
Istroke,
Itilde,
Itildebelow,
J,
Jcircumflex,
K,
Kacute,
Kcaron,
Kcommaaccent,
Kdotbelow,
Khook,
Klinebelow,
L,
LJ,
Lacute,
Lbar,
Lcaron,
Lcircumflexbelow,
Lcommaaccent,
Ldot,
Ldotbelow,
Ldotbelowmacron,
Lj,
Llinebelow,
Lslash,
M,
Macute,
Mdotaccent,
Mdotbelow,
N,
NJ,
Nacute,
Ncaron,
Ncircumflexbelow,
Ncommaaccent,
Ndotaccent,
Ndotbelow,
Nhook,
Nj,
Nlinebelow,
Ntilde,
Eng,
O,
OI,
Oacute,
Obar,
Obreve,
Ocaron,
Ocircumflex,
Ocircumflexacute,
Ocircumflexdotbelow,
Ocircumflexgrave,
Ocircumflexhookabove,
Ocircumflextilde,
Odblgrave,
Odieresis,
Odotbelow,
Ograve,
Ohookabove,
Ohorn,
Ohornacute,
Ohorndotbelow,
Ohorngrave,
Ohornhookabove,
Ohorntilde,
Ohungarumlaut,
Oinvertedbreve,
Omacron,
Omacronacute,
Omacrongrave,
Oogonek,
Oogonekmacron,
Oopen,
Oslash,
Oslashacute,
Otilde,
Otildeacute,
Otildedieresis,
OE,
P,
Pacute,
Pdotaccent,
Phook,
Thorn,
Q,
Q_rthook,
R,
Racute,
Rcaron,
Rcommaaccent,
Rdblgrave,
Rdotaccent,
Rdotbelow,
Rdotbelowmacron,
Rinvertedbreve,
Rlinebelow,
S,
Sacute,
Sacutedotaccent,
Scaron,
Scarondotaccent,
Scedilla,
Scircumflex,
Scommaaccent,
Sdotaccent,
Sdotbelow,
Sdotbelowdotaccent,
Germandbls,
T,
Tbar,
Tcaron,
Tcircumflexbelow,
Tcommaaccent,
Tdotaccent,
Tdotbelow,
Thook,
Tlinebelow,
Tonefive,
Tonesix,
Tonetwo,
Trthook,
U,
Uacute,
Ubreve,
Ucaron,
Ucircumflex,
Ucircumflexbelow,
Udblgrave,
Udieresis,
Udieresisacute,
Udieresisbelow,
Udieresiscaron,
Udieresisgrave,
Udieresismacron,
Udotbelow,
Ugrave,
Uhookabove,
Uhorn,
Uhornacute,
Uhorndotbelow,
Uhorngrave,
Uhornhookabove,
Uhorntilde,
Uhungarumlaut,
Uinvertedbreve,
Umacron,
Umacrondieresis,
Uogonek,
Upsilon2,
Uring,
Utilde,
Utildeacute,
Utildebelow,
V,
Gamma1,
Vcursive,
Vdotbelow,
Vtilde,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wdotaccent,
Wdotbelow,
Wgrave,
X,
Xdieresis,
Xdotaccent,
Y,
YR,
Yacute,
Ycircumflex,
Ydieresis,
Ydotaccent,
Ydotbelow,
Ygrave,
Yhook,
Yhookabove,
Ytilde,
Z,
Zacute,
Zbar,
Zcaron,
Zcircumflex,
Zdotaccent,
Zdotbelow,
Zlinebelow,
mcapturn,
uni01F6,
uni01F7,
uni01F8,
uni021A,
uni021E,
uni0220,
uni0222,
uni0224,
uni0226,
uni0228,
uni022A,
uni022C,
uni022E,
uni0230,
uni0232,
uni023A,
uni023B,
uni023E,
uni0241,
uni0243,
uni0244,
uni0245,
uni0246,
uni0248,
uni024C,
uni024E,
uni1EFA,
uni1EFC,
uni1EFE,
uni2C7F,
A.full,
B.full,
C.full,
D.full,
E.full,
F.full,
G.full,
H.full,
I.full,
IJ.1,
J.full,
K.full,
L.full,
M.full,
N.full,
O.full,
P.full,
Q.full,
R.full,
S.full,
T.full,
U.full,
V.full,
W.full,
X.full,
Y.full,
Z.full,
I.full.1,
A.squared.medium,
B.squared.medium,
C.squared.medium,
D.squared.medium,
E.squared.medium,
F.squared.medium,
G.squared.medium,
H.squared.medium,
I.squared.medium,
J.squared.medium,
K.squared.medium,
L.squared.medium,
M.squared.medium,
N.squared.medium,
O.squared.medium,
P.squared.medium,
Q.squared.medium,
R.squared.medium,
S.squared.medium,
T.squared.medium,
U.squared.medium,
V.squared.medium,
W.squared.medium,
X.squared.medium,
Y.squared.medium,
Z.squared.medium,
Gsmallcap,
Gsmallcaphook,
Ismallcap,
Lsmallcap,
Nsmallcap,
OEsmallcap,
Rsmallcap,
Rsmallcapinv,
Ysmallcap,
a,
aacute,
abreve,
abreveacute,
abrevedotbelow,
abrevegrave,
abrevehookabove,
abrevetilde,
acaron,
acircumflex,
acircumflexacute,
acircumflexdotbelow,
acircumflexgrave,
acircumflexhookabove,
acircumflextilde,
adblgrave,
adieresis,
adieresismacron,
adotbelow,
adotmacron,
agrave,
ahookabove,
ainvertedbreve,
amacron,
aogonek,
arighthalfring,
aring,
aringacute,
aringbelow,
ascript,
ascriptturn,
atilde,
aturn,
ae,
aeacute,
aemacron,
b,
babygamma,
bbar,
bdotaccent,
bdotbelow,
bhook,
blinebelow,
btopbar,
bullseye,
c,
cacute,
ccaron,
ccedilla,
ccedillaacute,
ccircumflex,
ccurl,
cdotaccent,
chook,
cstretch,
d,
dcaron,
dcedilla,
dcircumflexbelow,
dcroat,
ddotaccent,
ddotbelow,
deltaturn,
dhook,
dlinebelow,
drthook,
dtopbar,
dyogh,
dz,
dzaltone,
dzcaron,
dzcurl,
eth,
e,
eacute,
ebreve,
ecaron,
ecedillabreve,
ecircumflex,
ecircumflexacute,
ecircumflexbelow,
ecircumflexdotbelow,
ecircumflexgrave,
ecircumflexhookabove,
ecircumflextilde,
edblgrave,
edieresis,
edotaccent,
edotbelow,
egrave,
ehookabove,
einvertedbreve,
emacron,
emacronacute,
emacrongrave,
eogonek,
epsilon1,
epsilon1rev,
epsilon1revclosed,
epsilon1revhook,
epsilonclosed,
erev,
esh,
eshcurl,
eshlooprev,
eshshortrev,
etilde,
etildebelow,
eturn,
schwa,
schwahook,
ezh,
ezhcaron,
ezhcurl,
ezhreversed,
ezhtail,
f,
fdotaccent,
feng,
finalkaf,
finalmem,
g,
gacute,
gamma1,
gbar,
gbreve,
gcaron,
gcircumflex,
gcommaaccent,
gcursive,
gdotaccent,
ghook,
glottalstop,
glottalstopbar,
glottalstopbarinv,
glottalstopbarrev,
glottalstopinv,
glottalstoprevinv,
gmacron,
uni021D,
h,
hbar,
hbrevebelow,
hcedilla,
hcircumflex,
hdieresis,
hdotaccent,
hdotbelow,
henghook,
hhook,
hlinebelow,
hturn,
hturnhook2,
hturnlthook,
hv,
i,
idotless,
iacute,
ibar,
ibreve,
icaron,
icircumflex,
idblgrave,
idieresis,
idieresisacute,
idotbelow,
igrave,
ihookabove,
iinvertedbreve,
imacron,
iogonek,
itilde,
itildebelow,
ij,
j,
jdotless,
jcaron,
jcircumflex,
jcrosstail,
jdotlessbar,
jhookdblbar,
k,
kacute,
kcaron,
kcommaaccent,
kdotbelow,
kgreenlandic,
khook,
klinebelow,
kturn,
l,
lacute,
lambdabar,
lbar,
lbelt,
lcaron,
lcircumflexbelow,
lcommaaccent,
lcurl,
ldot,
ldotbelow,
ldotbelowmacron,
lj,
llinebelow,
lmidtilde,
lrthook,
lslash,
lyogh,
m,
macute,
mdotaccent,
mdotbelow,
mhook,
mturn,
mturndescend,
n,
nacute,
ncaron,
ncircumflexbelow,
ncommaaccent,
ncurl,
ndotaccent,
ndotbelow,
nj,
nlegrightlong,
nlfthook,
nlinebelow,
nrthook,
ntilde,
eng,
o,
oacute,
obar,
obreve,
ocaron,
ocircumflex,
ocircumflexacute,
ocircumflexdotbelow,
ocircumflexgrave,
ocircumflexhookabove,
ocircumflextilde,
odblgrave,
odieresis,
odotbelow,
ograve,
ohookabove,
ohorn,
ohornacute,
ohorndotbelow,
ohorngrave,
ohornhookabove,
ohorntilde,
ohungarumlaut,
oi,
oinvertedbreve,
omacron,
omacronacute,
omacrongrave,
omegaclosed,
oogonek,
oogonekmacron,
oopen,
oslash,
oslashacute,
otilde,
otildeacute,
otildedieresis,
oe,
p,
pacute,
pdotaccent,
philatin,
phook,
thorn,
q,
qhook,
qrthook,
r,
racute,
rcaron,
rcommaaccent,
rdblgrave,
rdotaccent,
rdotbelow,
rdotbelowmacron,
rfishhook,
rfishhookrev,
rinvertedbreve,
rlinebelow,
rturn,
rturnascend,
rturnrthook,
s,
sacute,
sacutedotaccent,
scaron,
scarondotaccent,
scedilla,
scircumflex,
scommaaccent,
sdotaccent,
sdotbelow,
sdotbelowdotaccent,
germandbls,
slongdotaccent,
slongstroke,
srthook,
longs,
t,
tbar,
tcaron,
tccurl,
tcedilla,
tcircumflexbelow,
tcommaaccent,
tcurl,
tdieresis,
tdotaccent,
tdotbelow,
tesh,
thook,
tlinebelow,
tonefive,
tonesix,
tonetwo,
tpalatalhook,
trthook,
ts,
tturn,
u,
uacute,
ubar,
ubreve,
ucaron,
ucircumflex,
ucircumflexbelow,
udblgrave,
udieresis,
udieresisacute,
udieresisbelow,
udieresiscaron,
udieresisgrave,
udieresismacron,
udotbelow,
ugrave,
uhookabove,
uhorn,
uhornacute,
uhorndotbelow,
uhorngrave,
uhornhookabove,
uhorntilde,
uhungarumlaut,
uinvertedbreve,
umacron,
umacrondieresis,
uni01F9,
uni021F,
uni0221,
uni0223,
uni0227,
uni0229,
uni022B,
uni022D,
uni022F,
uni0231,
uni0233,
uni0238,
uni0239,
uni023C,
uni023F,
uni0240,
uni0242,
uni0247,
uni0249,
uni024D,
uni024F,
uni0299,
uni029C,
uni02AB,
uni02AC,
uni1E9D,
uni1E9F,
uni1EFB,
uni1EFD,
uni1EFF,
uni2184,
uogonek,
upsilonlatin,
uring,
utilde,
utildeacute,
utildebelow,
v,
vdotbelow,
vscript,
vtilde,
vturn,
w,
wacute,
wcircumflex,
wdieresis,
wdotaccent,
wdotbelow,
wgrave,
wring,
wturn,
wynn,
x,
xdieresis,
xdotaccent,
y,
yacute,
ycircumflex,
ydieresis,
ydotaccent,
ydotbelow,
ygrave,
yhook,
yhookabove,
yring,
ytilde,
yturn,
z,
zacute,
zbar,
zcaron,
zcircumflex,
zcurl,
zdotaccent,
zdotbelow,
zhook,
zlinebelow,
zrthook,
a.full,
b.full,
c.full,
d.full,
e.full,
f.full,
g.full,
h.full,
i.full,
j.full,
k.full,
l.full,
m.full,
n.full,
o.full,
p.full,
q.full,
r.full,
s.full,
t.full,
u.full,
v.full,
w.full,
x.full,
y.full,
z.full,
rdescend.1,
rrthook.1,
uni2094,
a.subs,
e.subs,
i.subs,
j.subs,
o.subs,
r.subs,
u.subs,
v.subs,
x.subs,
ordfeminine,
ordmasculine,
exclam1,
pipe,
pipedbl,
pipedblbar,
twostroke,
uniA7FF,
Rturnsuper,
finaltsadi,
hhooksuper,
rturnsuper,
h.sups,
i.sups,
j.sups,
l.sups,
n.sups,
r.sups,
s.sups,
w.sups,
x.sups,
y.sups,
afii10017,
afii10018,
afii10019,
afii10020,
afii10052,
afii10050,
uni04F6,
Ghestrokecyrillic,
Ghemiddlehookcyrillic,
afii10021,
afii10022,
uni0400,
afii10023,
afii10024,
afii10025,
afii10026,
afii10027,
uni040D,
uni048A,
Kacyr,
afii10061,
afii10029,
afii10030,
afii10031,
afii10032,
afii10033,
afii10034,
afii10035,
afii10036,
afii10037,
afii10062,
afii10038,
afii10039,
afii10041,
afii10040,
afii10042,
afii10043,
afii10145,
afii10046,
afii10045,
afii10044,
afii10058,
afii10059,
afii10054,
afii10053,
afii10047,
afii10055,
afii10056,
afii10057,
afii10060,
afii10048,
afii10049,
afii10051,
Omegacyrillic,
afii10146,
Eiotifiedcyrillic,
Yuslittlecyrillic,
Yuslittleiotifiedcyrillic,
Yusbigcyrillic,
Yusbigiotifiedcyrillic,
Ksicyrillic,
Psicyrillic,
afii10147,
afii10148,
Izhitsadblgravecyrillic,
Ukcyrillic,
Zhedescendercyrillic,
Zedescendercyrillic,
Kadescendercyrillic,
Kaverticalstrokecyrillic,
Kabashkircyrillic,
Endescendercyrillic,
Enghecyrillic,
Pemiddlehookcyrillic,
Haabkhasiancyrillic,
Esdescendercyrillic,
Tedescendercyrillic,
Ustraightcyrillic,
Ustraightstrokecyrillic,
Hadescendercyrillic,
Tetsecyrillic,
Chedescendercyrillic,
Cheverticalstrokecyrillic,
Shhacyrillic,
Cheabkhasiancyrillic,
Chedescenderabkhasiancyrillic,
palochkacyrillic,
Zhebrevecyrillic,
Kahookcyrillic,
"Eltail-cy",
Enhookcyrillic,
uni04C9,
Chekhakassiancyrillic,
uni04CD,
Abrevecyrillic,
Adieresiscyrillic,
Aiecyrillic,
Iebrevecyrillic,
Schwacyrillic,
Schwadieresiscyrillic,
Zhedieresiscyrillic,
Zedieresiscyrillic,
Dzeabkhasiancyrillic,
Imacroncyrillic,
Idieresiscyrillic,
Odieresiscyrillic,
Obarredcyrillic,
Obarreddieresiscyrillic,
uni04EC,
Umacroncyrillic,
Udieresiscyrillic,
Uhungarumlautcyrillic,
Chedieresiscyrillic,
Yerudieresiscyrillic,
uni04FA,
uni04FC,
uni04FE,
Koppacyrillic,
uni048C,
uni048E,
acyrillic,
becyrillic,
vecyrillic,
gecyrillic,
gjecyrillic,
gheupturncyrillic,
uni04F7,
ghestrokecyrillic,
ghemiddlehookcyrillic,
decyrillic,
iecyrillic,
uni0450,
iocyrillic,
zhecyrillic,
zecyrillic,
iicyrillic,
iishortcyrillic,
uni048B,
uni045D,
kacyrillic,
kjecyrillic,
elcyrillic,
emcyrillic,
encyrillic,
ocyrillic,
pecyrillic,
ercyrillic,
escyrillic,
tecyrillic,
ucyrillic,
ushortcyrillic,
efcyrillic,
khacyrillic,
checyrillic,
tsecyrillic,
shacyrillic,
shchacyrillic,
dzhecyrillic,
softsigncyrillic,
yericyrillic,
hardsigncyrillic,
ljecyrillic,
njecyrillic,
dzecyrillic,
ecyrillic,
ereversedcyrillic,
icyrillic,
yicyrillic,
jecyrillic,
tshecyrillic,
iucyrillic,
iacyrillic,
djecyrillic,
omegacyrillic,
yatcyrillic,
eiotifiedcyrillic,
yuslittlecyrillic,
yuslittleiotifiedcyrillic,
yusbigcyrillic,
yusbigiotifiedcyrillic,
ksicyrillic,
psicyrillic,
fitacyrillic,
izhitsacyrillic,
izhitsadblgravecyrillic,
ukcyrillic,
zhedescendercyrillic,
zedescendercyrillic,
kadescendercyrillic,
kaverticalstrokecyrillic,
kabashkircyrillic,
endescendercyrillic,
enghecyrillic,
pemiddlehookcyrillic,
haabkhasiancyrillic,
esdescendercyrillic,
tedescendercyrillic,
ustraightcyrillic,
ustraightstrokecyrillic,
hadescendercyrillic,
tetsecyrillic,
chedescendercyrillic,
cheverticalstrokecyrillic,
shhacyrillic,
cheabkhasiancyrillic,
chedescenderabkhasiancyrillic,
uni04CF,
zhebrevecyrillic,
kahookcyrillic,
uni04C6,
enhookcyrillic,
uni04CA,
chekhakassiancyrillic,
uni04CE,
abrevecyrillic,
adieresiscyrillic,
aiecyrillic,
iebrevecyrillic,
schwacyrillic,
schwadieresiscyrillic,
zhedieresiscyrillic,
zedieresiscyrillic,
dzeabkhasiancyrillic,
imacroncyrillic,
idieresiscyrillic,
odieresiscyrillic,
obarredcyrillic,
obarreddieresiscyrillic,
uni04ED,
umacroncyrillic,
udieresiscyrillic,
uhungarumlautcyrillic,
chedieresiscyrillic,
yerudieresiscyrillic,
uni04FB,
uni04FD,
uni04FF,
koppacyrillic,
uni048D,
uni048F,
uni052F,
Alpha,
Beta,
Gamma,
Delta,
Epsilon,
Zeta,
Eta,
Theta,
IotaGreek,
Kappa,
Lambda,
Mu,
Nu,
Xi,
Omicron,
Pi,
Rho,
Sigma,
Tau,
Upsilon,
Phi,
Chi,
Psi,
Omega,
Alphatonos,
Epsilontonos,
Etatonos,
Iotatonos,
Omicrontonos,
Upsilontonos,
Omegatonos,
Iotadieresis,
Upsilondieresis,
uni0370,
uni0372,
uni0376,
uni03D8,
Stigma,
Digamma,
Koppa,
Sampi,
uni03CF,
Upsilonhooksymbol,
Upsilonacutehooksymbolgreek,
Upsilondieresishooksymbolgreek,
uni03F4,
uni03F7,
uni03F9,
uni03FA,
uni03FD,
uni03FE,
uni03FF,
uni1F08,
uni1F09,
uni1F0A,
uni1F0B,
uni1F0C,
uni1F0D,
uni1F0E,
uni1F0F,
uni1FBA,
uni1FBB,
uni1FB8,
uni1FB9,
uni1FBC,
uni1F88,
uni1F89,
uni1F8A,
uni1F8B,
uni1F8C,
uni1F8D,
uni1F8E,
uni1F8F,
uni1F18,
uni1F19,
uni1F1A,
uni1F1B,
uni1F1C,
uni1F1D,
uni1FC8,
uni1FC9,
uni1F28,
uni1F29,
uni1F2A,
uni1F2B,
uni1F2C,
uni1F2D,
uni1F2E,
uni1F2F,
uni1FCA,
uni1FCB,
uni1FCC,
uni1F98,
uni1F99,
uni1F9A,
uni1F9B,
uni1F9C,
uni1F9D,
uni1F9E,
uni1F9F,
uni1F38,
uni1F39,
uni1F3A,
uni1F3B,
uni1F3C,
uni1F3D,
uni1F3E,
uni1F3F,
uni1FDA,
uni1FDB,
uni1FD8,
uni1FD9,
uni1F48,
uni1F49,
uni1F4A,
uni1F4B,
uni1F4C,
uni1F4D,
uni1FF8,
uni1FF9,
uni1FEC,
uni1F59,
uni1F5B,
uni1F5D,
uni1F5F,
uni1FEA,
uni1FEB,
uni1FE8,
uni1FE9,
uni1F68,
uni1F69,
uni1F6A,
uni1F6B,
uni1F6C,
uni1F6D,
uni1F6E,
uni1F6F,
uni1FFA,
uni1FFB,
uni1FFC,
uni1FA8,
uni1FA9,
uni1FAA,
uni1FAB,
uni1FAC,
uni1FAD,
uni1FAE,
uni1FAF,
uni037F,
alpha,
beta,
gamma,
delta,
epsilon,
zeta,
eta,
theta,
iota,
kappa,
lambda,
mugreek,
nu,
xi,
omicron,
pi,
rho,
sigma1,
sigma,
tau,
upsilon,
phi,
chi,
psi,
omega,
iotatonos,
iotadieresis,
iotadieresistonos,
upsilontonos,
upsilondieresis,
upsilondieresistonos,
omicrontonos,
omegatonos,
alphatonos,
epsilontonos,
etatonos,
uni0371,
uni0373,
uni0377,
uni037B,
uni037C,
uni037D,
uni03D9,
stigma,
digamma,
koppa,
sampi,
uni03D7,
beta1,
thetasymbolgreek,
phigreek,
pisymbolgreek,
kappa1,
rho1,
sigmalunatesymbolgreek,
yotgreek,
uni03F5,
uni03F8,
uni03FB,
uni03FC,
uni1F00,
uni1F01,
uni1F02,
uni1F03,
uni1F04,
uni1F05,
uni1F06,
uni1F07,
uni1F70,
uni1F71,
uni1FB6,
uni1FB0,
uni1FB1,
uni1FB3,
uni1FB2,
uni1FB4,
uni1F80,
uni1F81,
uni1F82,
uni1F83,
uni1F84,
uni1F85,
uni1F86,
uni1F87,
uni1FB7,
uni1F10,
uni1F11,
uni1F12,
uni1F13,
uni1F14,
uni1F15,
uni1F72,
uni1F73,
uni1F20,
uni1F21,
uni1F22,
uni1F23,
uni1F24,
uni1F25,
uni1F26,
uni1F27,
uni1F74,
uni1F75,
uni1FC6,
uni1FC3,
uni1FC2,
uni1FC4,
uni1F90,
uni1F91,
uni1F92,
uni1F93,
uni1F94,
uni1F95,
uni1F96,
uni1F97,
uni1FC7,
uni1F30,
uni1F31,
uni1F32,
uni1F33,
uni1F34,
uni1F35,
uni1F36,
uni1F37,
uni1F76,
uni1F77,
uni1FD6,
uni1FD0,
uni1FD1,
uni1FD2,
uni1FD3,
uni1FD7,
uni1F40,
uni1F41,
uni1F42,
uni1F43,
uni1F44,
uni1F45,
uni1F78,
uni1F79,
uni1FE4,
uni1FE5,
uni1F50,
uni1F51,
uni1F52,
uni1F53,
uni1F54,
uni1F55,
uni1F56,
uni1F57,
uni1F7A,
uni1F7B,
uni1FE6,
uni1FE0,
uni1FE1,
uni1FE2,
uni1FE3,
uni1FE7,
uni1F60,
uni1F61,
uni1F62,
uni1F63,
uni1F64,
uni1F65,
uni1F66,
uni1F67,
uni1F7C,
uni1F7D,
uni1FF6,
uni1FF3,
uni1FF2,
uni1FF4,
uni1FA0,
uni1FA1,
uni1FA2,
uni1FA3,
uni1FA4,
uni1FA5,
uni1FA6,
uni1FA7,
uni1FF7,
uni1FBE,
ypogegrammeni,
"fillerCompa-ko",
"han-ko",
Fturn,
h.subs,
k.subs,
l.subs,
m.subs,
n.subs,
p.subs,
s.subs,
t.subs,
uni1DBF,
a.sups,
b.sups,
c.sups,
d.sups,
e.sups,
f.sups,
g.sups,
k.sups,
m.sups,
o.sups,
p.sups,
t.sups,
u.sups,
v.sups,
z.sups,
romanone,
romantwo,
romanthree,
romanfour,
romanfive,
romansix,
romanseven,
romaneight,
romannine,
romanten,
romaneleven,
romantwelve,
romanfifty,
romanhundred,
romanfivehundred,
romanthousand,
oneroman,
tworoman,
threeroman,
fourroman,
fiveroman,
sixroman,
sevenroman,
eightroman,
nineroman,
tenroman,
elevenroman,
twelveroman,
uni217C,
uni217D,
uni217E,
uni217F,
uni2180,
uni2181,
uni2182,
uni2183,
uni2185,
uni2186,
uni2187,
uni2188,
one_zero.circled.medium,
one_one.circled.medium,
one_two.circled.medium,
one_three.circled.medium,
one_four.circled.medium,
one_five.circled.medium,
one_six.circled.medium,
one_seven.circled.medium,
one_eight.circled.medium,
one_nine.circled.medium,
two_zero.circled.medium,
one_zero.roundBlackBox.medium,
one_one.roundBlackBox.medium,
one_two.roundBlackBox.medium,
one_three.roundBlackBox.medium,
one_four.roundBlackBox.medium,
one_five.roundBlackBox.medium,
one_six.roundBlackBox.medium,
one_seven.roundBlackBox.medium,
one_eight.roundBlackBox.medium,
one_nine.roundBlackBox.medium,
two_zero.roundBlackBox.medium,
one_zero.squared.medium,
one_one.squared.medium,
one_two.squared.medium,
one_three.squared.medium,
one_four.squared.medium,
one_five.squared.medium,
one_six.squared.medium,
one_seven.squared.medium,
one_eight.squared.medium,
one_nine.squared.medium,
two_zero.squared.medium,
one_zero.blackCircled.medium,
one_one.blackCircled.medium,
one_two.blackCircled.medium,
one_three.blackCircled.medium,
one_four.blackCircled.medium,
one_five.blackCircled.medium,
one_six.blackCircled.medium,
one_seven.blackCircled.medium,
one_eight.blackCircled.medium,
one_nine.blackCircled.medium,
two_zero.blackCircled.medium,
zero.full,
one.full,
two.full,
three.full,
four.full,
five.full,
six.full,
seven.full,
eight.full,
nine.full,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.blackCircled,
one.blackCircled,
two.blackCircled,
three.blackCircled,
four.blackCircled,
five.blackCircled,
six.blackCircled,
seven.blackCircled,
eight.blackCircled,
nine.blackCircled,
one_zero.blackCircled,
one_one.blackCircled,
one_two.blackCircled,
one_three.blackCircled,
one_four.blackCircled,
one_five.blackCircled,
one_six.blackCircled,
one_seven.blackCircled,
one_eight.blackCircled,
one_nine.blackCircled,
two_zero.blackCircled,
zero.circled,
one.circled,
two.circled,
three.circled,
four.circled,
five.circled,
six.circled,
seven.circled,
eight.circled,
nine.circled,
one_zero.circled,
one_one.circled,
one_two.circled,
one_three.circled,
one_four.circled,
one_five.circled,
one_six.circled,
one_seven.circled,
one_eight.circled,
one_nine.circled,
two_zero.circled,
one.1,
zero.blackCircled.medium,
one.blackCircled.medium,
two.blackCircled.medium,
three.blackCircled.medium,
four.blackCircled.medium,
five.blackCircled.medium,
six.blackCircled.medium,
seven.blackCircled.medium,
eight.blackCircled.medium,
nine.blackCircled.medium,
zero.circled.medium,
one.circled.medium,
two.circled.medium,
three.circled.medium,
four.circled.medium,
five.circled.medium,
six.circled.medium,
seven.circled.medium,
eight.circled.medium,
nine.circled.medium,
zero.roundBlackBox.medium,
one.roundBlackBox.medium,
two.roundBlackBox.medium,
three.roundBlackBox.medium,
four.roundBlackBox.medium,
five.roundBlackBox.medium,
six.roundBlackBox.medium,
seven.roundBlackBox.medium,
eight.roundBlackBox.medium,
nine.roundBlackBox.medium,
zero.squared.medium,
one.squared.medium,
two.squared.medium,
three.squared.medium,
four.squared.medium,
five.squared.medium,
six.squared.medium,
seven.squared.medium,
eight.squared.medium,
nine.squared.medium,
one.1.tf,
fraction,
onefraction,
onehalf,
onethird,
onequarter,
threequarters,
fivesixths,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
zero.subs,
one.subs,
two.subs,
three.subs,
four.subs,
five.subs,
six.subs,
seven.subs,
eight.subs,
nine.subs,
zero.sups,
one.sups,
two.sups,
three.sups,
four.sups,
five.sups,
six.sups,
seven.sups,
eight.sups,
nine.sups,
space,
enspace,
emspace,
thirdemspace,
quarteremspace,
sixthemspace,
figurespace,
punctuationspace,
thinspace,
hairspace,
zerowidthspace,
"mediumspace-math",
"space-han",
.notdef,
.null,
anoteleia,
questiongreek,
uniA92E,
uni27EF,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
asterism,
blackleftbullet,
blackrightbullet,
bracketleft_quill,
bracketright_quill,
caretSign,
caretinsertionpoint,
charactertie,
exclamdbl,
hyphenbullet,
hyphendot,
interrobang,
invertedinterrobang,
numbersign,
onedotenleader,
overline,
paragraphreversed,
uni2047,
referencemark,
reversedsemicolon,
slash,
backslash,
trianglebullet,
twodotenleader,
undertie,
uni2048,
uni2049,
uni204A,
uni204E,
uni2050,
uni2051,
uni2053,
uni2054,
uni2055,
uni2056,
uni2058,
uni2059,
uni205A,
uni205B,
uni205C,
uni205D,
uni205E,
verticalbardbl,
ampersand.full,
asterisk.full,
at.full,
backslash.full,
colon.case,
ellipsis.case,
bullet.case,
asterisk.case,
blackleftbullet.case,
blackrightbullet.case,
hyphenbullet.case,
colon.full,
comma.full,
exclam.full,
periodcentered.full,
numbersign.full,
percent.full,
period.full,
question.full,
quotedbl.full,
quotesingle.full,
semicolon.full,
slash.full,
underscore.full,
exclam.blackCircled.medium,
question.blackCircled.medium,
numbersign.blackCircled.medium,
exclam.circled.medium,
question.circled.medium,
numbersign.circled.medium,
exclam.roundBlackBox.medium,
question.roundBlackBox.medium,
numbersign.roundBlackBox.medium,
exclam.squared.medium,
question.squared.medium,
numbersign.squared.medium,
exclam.tag,
question.tag,
numbersign.tag,
exclam.tag.medium,
question.tag.medium,
numbersign.tag.medium,
hyphen,
softhyphen,
endash,
emdash,
figuredash,
horizontalbar,
hyphen__,
hyphennobreak,
underscore,
underscoredbl,
wavedash,
hyphen.case,
endash.case,
emdash.case,
figuredash.case,
emdash.full,
horizontalbar.full,
hyphen.full,
hyphen.blackCircled.medium,
hyphen.circled.medium,
hyphen.roundBlackBox.medium,
hyphen.squared.medium,
hyphen.tag,
hyphen.tag.medium,
parenleft.subs,
parenright.subs,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
whiteparenleft.full,
whiteparenright.full,
anglebracketleft,
anglebracketright,
blacklenticularbracketleft,
blacklenticularbracketright,
braceleft.full,
braceright.full,
cornerbracketleft,
cornerbracketright,
dblanglebracketleft,
dblanglebracketright,
parenleft.sups,
parenright.sups,
tortoiseshellbracketleft,
tortoiseshellbracketright,
whitecornerbracketleft,
whitecornerbracketright,
whitelenticularbracketleft,
whitelenticularbracketright,
whiteparenleft,
whiteparenright,
whitesquarebracketleft,
whitesquarebracketright,
whitetortoiseshellbracketleft,
whitetortoiseshellbracketright,
anglebracketleft.full,
anglebracketright.full,
bracketleft.full,
bracketright.full,
parenleft.case,
parenright.case,
braceleft.case,
braceright.case,
bracketleft.case,
bracketright.case,
blacklenticularbracketleft.full,
blacklenticularbracketright.full,
cornerbracketleft.full,
cornerbracketright.full,
dblanglebracketleft.full,
dblanglebracketright.full,
tortoiseshellbracketleft.full,
tortoiseshellbracketright.full,
whitecornerbracketleft.full,
whitecornerbracketright.full,
whitelenticularbracketleft.full,
whitelenticularbracketright.full,
whitesquarebracketleft.full,
whitesquarebracketright.full,
whitetortoiseshellbracketleft.full,
whitetortoiseshellbracketright.full,
parenleft.full,
parenright.full,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
quotereversed,
quotedblreversed,
doubleprimerev,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
lowquotedoubleprime,
primerev,
quadrupleprime,
quotedoubleprime,
quotedoubleprimeReversed,
tripleprime,
tripleprimerev,
quotedbl,
quotesingle,
guillemetleft.case,
guillemetright.case,
guilsinglleft.case,
guilsinglright.case,
quotedblleft.full,
quoteleft.full,
quoteright.full,
gammasuper,
florin,
thousandcyrillic,
numeralgreek,
numeralgreeksub,
uni03F6,
"note-musical",
baht,
A.tag,
B.tag,
C.tag,
D.tag,
E.tag,
F.tag,
G.tag,
H.tag,
I.tag,
J.tag,
K.tag,
L.tag,
M.tag,
N.tag,
O.tag,
P.tag,
Q.tag,
R.tag,
S.tag,
T.tag,
U.tag,
V.tag,
W.tag,
X.tag,
Y.tag,
Z.tag,
eight.tag,
five.tag,
four.tag,
nine.tag,
one.tag,
seven.tag,
six.tag,
three.tag,
two.tag,
zero.tag,
A.tag.medium,
B.tag.medium,
C.tag.medium,
D.tag.medium,
E.tag.medium,
F.tag.medium,
G.tag.medium,
H.tag.medium,
I.tag.medium,
J.tag.medium,
K.tag.medium,
L.tag.medium,
M.tag.medium,
N.tag.medium,
O.tag.medium,
P.tag.medium,
Q.tag.medium,
R.tag.medium,
S.tag.medium,
T.tag.medium,
U.tag.medium,
V.tag.medium,
W.tag.medium,
X.tag.medium,
Y.tag.medium,
Z.tag.medium,
eight.tag.medium,
five.tag.medium,
four.tag.medium,
nine.tag.medium,
one.tag.medium,
seven.tag.medium,
six.tag.medium,
three.tag.medium,
two.tag.medium,
zero.tag.medium,
zero.tag.slash,
four.tag.ss01,
nine.tag.ss01,
one.tag.ss01,
six.tag.ss01,
three.tag.1,
one_zero.tag,
one_one.tag,
one_two.tag,
one_three.tag,
one_four.tag,
one_five.tag,
one_six.tag,
one_seven.tag,
one_eight.tag,
one_nine.tag,
two_zero.tag,
one_zero.tag.medium,
one_one.tag.medium,
one_two.tag.medium,
one_three.tag.medium,
one_four.tag.medium,
one_five.tag.medium,
one_six.tag.medium,
one_seven.tag.medium,
one_eight.tag.medium,
one_nine.tag.medium,
two_zero.tag.medium,
one_zero.tag.slash,
two_zero.tag.slash,
one_one.tag.ss01,
one_three.tag.ss01,
one_four.tag.ss01,
one_six.tag.ss01,
one_nine.tag.ss01,
arrowheaddownmod,
arrowheadleftmod,
arrowheadrightmod,
arrowheadupmod,
dblapostrophe,
downtackmod,
lowdownarrowheadmod,
minusmod,
plusmod,
ringhalfleftcentered,
ringhalfrightcentered,
uni02EC,
uni02ED,
uni02F0,
uni02F1,
uni02F2,
uni02F3,
uni02F4,
uni02F5,
uni02F6,
uni02F7,
uni02F8,
uni02F9,
uni02FA,
uni02FB,
uni02FC,
uni02FD,
uni02FE,
uni02FF,
uptackmod,
asciicircum.full,
grave.full,
tonebarextrahighmod.cn,
tonebarextralowmod.cn,
tonebarhighmod.cn,
tonebarlowmod.cn,
tonebarmidmod.cn,
qofdagesh,
rhotichookmod,
glottalstopreversed.numr,
blackSunWithRays,
blackstar,
whitestar,
sunWithRays,
heartWhiteSuit,
heartBlackSuit,
warningSign,
dngb_check,
dngb_ballotx,
heavyBlackHeart,
Rx,
A.blackCircled,
B.blackCircled,
C.blackCircled,
D.blackCircled,
E.blackCircled,
F.blackCircled,
G.blackCircled,
H.blackCircled,
I.blackCircled,
J.blackCircled,
K.blackCircled,
L.blackCircled,
M.blackCircled,
N.blackCircled,
O.blackCircled,
P.blackCircled,
Q.blackCircled,
R.blackCircled,
S.blackCircled,
T.blackCircled,
U.blackCircled,
V.blackCircled,
W.blackCircled,
X.blackCircled,
Y.blackCircled,
Z.blackCircled,
A.squared,
B.squared,
C.squared,
D.squared,
E.squared,
F.squared,
G.squared,
H.squared,
I.squared,
J.squared,
K.squared,
L.squared,
M.squared,
N.squared,
O.squared,
P.squared,
Q.squared,
R.squared,
S.squared,
T.squared,
U.squared,
V.squared,
W.squared,
X.squared,
Y.squared,
Z.squared,
accountof,
addresssubject,
alternativekeysymbol,
angstrom,
at,
ampersand,
paragraph,
section,
copyright,
registered,
published,
trademark,
careof,
degree,
prime,
doubleprime,
bar,
brokenbar,
dagger,
lsquare,
daggerdbl,
estimated,
numero,
brokenCircleNorthWestArrow,
cadauna,
control,
copyleft,
degreecentigrade,
degreefarenheit,
degreekelvin,
insertionsymbol,
capslock,
clear,
deleteleft,
deleteright,
ejectsymbol,
option,
pagedown,
pageup,
placeofinterestsign,
returnsymbol,
leftLongArrow2,
lowerHalfWhiteSquare,
projective,
response,
rightLongArrow2,
servicemark,
spaceopenbox,
tel,
topHalfWhiteSquare,
uni1F16A,
uni1F16B,
uni213B,
uni214D,
uni214F,
versicle,
whiteLargeSquare,
A.roundBlackBox,
B.roundBlackBox,
C.roundBlackBox,
D.roundBlackBox,
E.roundBlackBox,
F.roundBlackBox,
G.roundBlackBox,
H.roundBlackBox,
I.roundBlackBox,
J.roundBlackBox,
K.roundBlackBox,
L.roundBlackBox,
M.roundBlackBox,
N.roundBlackBox,
O.roundBlackBox,
P.roundBlackBox,
Q.roundBlackBox,
R.roundBlackBox,
S.roundBlackBox,
T.roundBlackBox,
U.roundBlackBox,
V.roundBlackBox,
W.roundBlackBox,
X.roundBlackBox,
Y.roundBlackBox,
Z.roundBlackBox,
at.case,
A.blackCircled.medium,
B.blackCircled.medium,
C.blackCircled.medium,
D.blackCircled.medium,
E.blackCircled.medium,
F.blackCircled.medium,
G.blackCircled.medium,
H.blackCircled.medium,
I.blackCircled.medium,
J.blackCircled.medium,
K.blackCircled.medium,
L.blackCircled.medium,
M.blackCircled.medium,
N.blackCircled.medium,
O.blackCircled.medium,
P.blackCircled.medium,
Q.blackCircled.medium,
R.blackCircled.medium,
S.blackCircled.medium,
T.blackCircled.medium,
U.blackCircled.medium,
V.blackCircled.medium,
W.blackCircled.medium,
X.blackCircled.medium,
Y.blackCircled.medium,
Z.blackCircled.medium,
A.circled,
B.circled,
C.circled,
D.circled,
E.circled,
F.circled,
G.circled,
H.circled,
I.circled,
J.circled,
K.circled,
L.circled,
M.circled,
N.circled,
O.circled,
P.circled,
Q.circled,
R.circled,
S.circled,
T.circled,
U.circled,
V.circled,
W.circled,
X.circled,
Y.circled,
Z.circled,
A.roundBlackBox.medium,
B.roundBlackBox.medium,
C.roundBlackBox.medium,
D.roundBlackBox.medium,
E.roundBlackBox.medium,
F.roundBlackBox.medium,
G.roundBlackBox.medium,
H.roundBlackBox.medium,
I.roundBlackBox.medium,
J.roundBlackBox.medium,
K.roundBlackBox.medium,
L.roundBlackBox.medium,
M.roundBlackBox.medium,
N.roundBlackBox.medium,
O.roundBlackBox.medium,
P.roundBlackBox.medium,
Q.roundBlackBox.medium,
R.roundBlackBox.medium,
S.roundBlackBox.medium,
T.roundBlackBox.medium,
U.roundBlackBox.medium,
V.roundBlackBox.medium,
W.roundBlackBox.medium,
X.roundBlackBox.medium,
Y.roundBlackBox.medium,
Z.roundBlackBox.medium,
downArrow.blackCircled.medium,
leftArrow.blackCircled.medium,
rightArrow.blackCircled.medium,
upArrow.blackCircled.medium,
A.circled.medium,
B.circled.medium,
C.circled.medium,
D.circled.medium,
E.circled.medium,
F.circled.medium,
G.circled.medium,
H.circled.medium,
I.circled.medium,
J.circled.medium,
K.circled.medium,
L.circled.medium,
M.circled.medium,
N.circled.medium,
O.circled.medium,
P.circled.medium,
Q.circled.medium,
R.circled.medium,
S.circled.medium,
T.circled.medium,
U.circled.medium,
V.circled.medium,
W.circled.medium,
X.circled.medium,
Y.circled.medium,
Z.circled.medium,
afii57636,
austral,
bitcoin,
cedi,
cent,
coloncurrency,
cruzeiro,
currency,
dollar,
dong,
euro,
eurocurrency,
franc,
guarani,
hryvnia,
kip,
lari,
lira,
manat,
mill,
naira,
peseta,
peso,
rupee,
sterling,
tenge,
tugrik,
uni20AF,
uni20B0,
uni20B6,
uni20B7,
uni20B9,
uni20BA,
uni20BB,
uni20BD,
won,
yen,
cent.full,
dollar.full,
austral.full,
bitcoin.full,
cedi.full,
cruzeiro.full,
currency.full,
dong.full,
euro.full,
franc.full,
guarani.full,
hryvnia.full,
kip.full,
lari.full,
lira.full,
liraTurkish.full,
livreTournois.full,
manat.full,
mill.full,
naira.full,
peso.full,
ruble.full,
rupeeIndian.full,
spesmilo.full,
tenge.full,
tugrik.full,
sterling.full,
won.full,
yen.full,
midlinehorizontalellipsis,
muchgreater,
muchless,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
infinity,
emptyset,
integral,
product,
summation,
radical,
micro,
partialdiff,
percent,
perthousand,
pertenthousand,
uni2052,
asciitilde.full,
bar.full,
muchgreater.case,
muchless.case,
plus.case,
minus.case,
multiply.case,
divide.case,
equal.case,
notequal.case,
greater.case,
less.case,
greaterequal.case,
lessequal.case,
plusminus.case,
approxequal.case,
asciitilde.case,
equal.full,
equal.subs,
equal.sups,
muchgreater.full,
muchless.full,
minus.full,
multiply.full,
divide.full,
greaterequal.full,
lessequal.full,
plusminus.full,
greater.full,
less.full,
minus.subs,
minus.sups,
plus.full,
plus.subs,
plus.sups,
plus.blackCircled.medium,
minus.blackCircled.medium,
multiply.blackCircled.medium,
divide.blackCircled.medium,
equal.blackCircled.medium,
greater.blackCircled.medium,
less.blackCircled.medium,
equal.circled.medium,
greater.circled.medium,
less.circled.medium,
divide.circled.medium,
minus.circled.medium,
multiply.circled.medium,
plus.circled.medium,
plus.roundBlackBox.medium,
minus.roundBlackBox.medium,
multiply.roundBlackBox.medium,
divide.roundBlackBox.medium,
equal.roundBlackBox.medium,
greater.roundBlackBox.medium,
less.roundBlackBox.medium,
plus.squared.medium,
minus.squared.medium,
multiply.squared.medium,
divide.squared.medium,
equal.squared.medium,
greater.squared.medium,
less.squared.medium,
plus.tag,
minus.tag,
multiply.tag,
divide.tag,
equal.tag,
greater.tag,
less.tag,
plus.tag.medium,
minus.tag.medium,
multiply.tag.medium,
divide.tag.medium,
equal.tag.medium,
greater.tag.medium,
less.tag.medium,
upArrow,
northEastArrow,
rightArrow,
southEastArrow,
downArrow,
southWestArrow,
leftArrow,
northWestArrow,
leftRightArrow,
upDownArrow,
arrowtableft,
arrowtabright,
leftHookArrow,
rightHookArrow,
upTipLeftArrow,
upTipRightArrow,
downTipRightArrow,
rightCornerDownArrow,
carriagereturn,
anticlockwiseOpenCircleArrow,
clockwiseOpenCircleArrow,
rightDoubleArrow,
leftDoubleArrow,
leftRightDoubleArrow,
upWhiteArrow,
upBlackArrow,
leftLongArrow,
rightLongArrow,
leftRightLongArrow,
leftLongDoubleArrow,
rightLongDoubleArrow,
leftRightLongDoubleArrow,
rightArrow.case,
leftArrow.case,
leftRightArrow.case,
rightDoubleArrow.case,
leftDoubleArrow.case,
leftRightDoubleArrow.case,
leftLongArrow.case,
rightLongArrow.case,
leftRightLongArrow.case,
leftLongDoubleArrow.case,
rightLongDoubleArrow.case,
leftRightLongDoubleArrow.case,
upArrow.circled.medium,
rightArrow.circled.medium,
downArrow.circled.medium,
leftArrow.circled.medium,
upArrow.roundBlackBox.medium,
rightArrow.roundBlackBox.medium,
downArrow.roundBlackBox.medium,
leftArrow.roundBlackBox.medium,
upArrow.squared.medium,
rightArrow.squared.medium,
downArrow.squared.medium,
leftArrow.squared.medium,
upArrow.tag,
rightArrow.tag,
downArrow.tag,
leftArrow.tag,
upArrow.tag.medium,
rightArrow.tag.medium,
downArrow.tag.medium,
leftArrow.tag.medium,
blackCircle,
whiteCircle,
largeCircle,
openbullet,
diamondblack,
diamondwhite,
diamondblack_x,
lozenge,
blackSquare,
whiteSquare,
whiteRoundedCornersSquare,
blackSmallSquare,
triagup,
triagdn,
blackleftpointingtriangle,
upWhiteTriangle,
rightWhiteTriangle,
downWhiteTriangle,
leftWhiteTriangle,
triagrt,
openbullet.case,
blackSmallSquare.case,
blackCircle.large,
whiteCircle.large,
blackSquare.large,
whiteRoundedCornersSquare.large,
blackCircle.medium,
whiteCircle.medium,
blackSquare.medium,
whiteRoundedCornersSquare.medium,
uni0363,
uni0364,
uni0365,
uni0366,
uni0367,
uni0368,
uni0369,
uni036A,
uni036B,
uni036C,
uni036D,
uni036E,
uni036F,
uni1DCA,
uni1DD3,
uni1DD4,
uni1DD5,
uni1DD6,
uni1DD8,
uni1DD9,
uni1DDA,
uni1DDB,
uni1DDC,
uni1DDD,
uni1DDE,
uni1DDF,
uni1DE0,
uni1DE1,
uni1DE2,
uni1DE3,
uni1DE4,
uni1DE5,
uni1DE6,
uni1DE7,
uni1DE9,
uni0488,
uni0489,
titlocyrilliccmb,
palatalizationcyrilliccmb,
dasiapneumatacyrilliccmb,
psilipneumatacyrilliccmb,
uni0487,
uniA69F,
perispomenigreekcmb,
koroniscmb,
diaeresistonosnosp,
iotasubnosp,
tonos,
dieresistonos,
uni1FBF,
uni1FBD,
uni1FFE,
uni1FCD,
uni1FDD,
uni1FCE,
uni1FDE,
uni1FCF,
uni1FDF,
uni1FED,
uni1FEE,
uni1FC1,
uni1FEF,
uni1FFD,
uni1FC0,
enclosingcirclecomb,
enclosingsquarecomb,
uniFE20,
uniFE21,
uniFE27,
uniFE28,
dieresisnosp,
dotnosp,
gravecomb,
acutecomb,
acutedblnosp,
circumflexnosp,
caroncmb,
brevenosp,
ringnosp,
tildecomb,
macroncomb,
overscorenosp,
hook,
linevertnosp,
linevertdblnosp,
dblgravecmb,
candrabindunosp,
breveinvnosp,
commaturnsupnosp,
commaabovecmb,
commasuprevnosp,
commaaboverightcmb,
gravesubnosp,
acutesubnosp,
tackleftsubnosp,
tackrightsubnosp,
anglesupnosp,
hornnosp,
ringlefthalfsubnosp,
tackupsubnosp,
tackdownsubnosp,
hooksubpalatnosp,
hooksubretronosp,
dotbelow,
dotdblsubnosp,
ringsubnosp,
commabelowcmb,
cedillanosp,
ogoneknosp,
linevertsubnosp,
bridgesubnosp,
archdblsubnosp,
caronbelowcmb,
circumflexsubnosp,
brevesubnosp,
breveinvsubnosp,
tildesubnosp,
macronsubnosp,
underscorenosp,
underscoredblnosp,
tildemidnosp,
barmidshortnosp,
barmidlongnosp,
slashshortnosp,
slashlongnosp,
ringrighthalfsubnosp,
bridgeinvsubnosp,
squaresubnosp,
seagullsubnosp,
xsupnosp,
tildevertsupnosp,
overscoredblnosp,
graveleftnosp,
acuterightnosp,
uni0346,
equalbelowcomb,
uni0348,
uni0349,
uni034A,
uni034B,
uni034C,
uni034D,
uni034E,
uni034F,
arrowheadrightabovecomb,
uni0351,
uni0352,
uni0353,
uni0354,
uni0355,
uni0356,
uni0357,
uni0358,
uni0359,
uni035A,
uni035B,
uni035C,
uni035D,
uni035E,
uni035F,
tildedoublecmb,
breveinverteddoublecmb,
uni0362,
uni1DC0,
uni1DC1,
uni1DC2,
uni1DC3,
uni1DC4,
uni1DC5,
uni1DC6,
uni1DC7,
uni1DC8,
uni1DC9,
uni1DCB,
uni1DCC,
uni1DCD,
uni1DCE,
uni1DCF,
uni1DD0,
uni1DD1,
uni1DD2,
uni1DD7,
uni1DE8,
uni1DEA,
uni1DEB,
uni1DEC,
uni1DED,
uni1DEE,
uni1DEF,
uni1DF0,
uni1DF1,
uni1DF2,
uni1DF3,
uni1DF4,
uni1DF5,
uni1DFC,
uni1DFD,
uni1DFE,
uni1DFF,
uni20DB,
uni20DC,
uni20E8,
uni20F0,
uniFE22,
uniFE23,
uniFE24,
uniFE25,
uniFE26,
uniFE29,
uniFE2A,
uniFE2B,
uniFE2C,
uniFE2D,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
firsttonechinese,
secondtonechinese,
caron,
fourthtonechinese,
uni02EA,
uni02EB,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
ring.uc,
acutelowmod,
apostrophemod,
colontriangularhalfmod,
colontriangularmod,
commareversedmod,
commaturnedmod,
doubleprimemod,
glottalstopmod,
glottalstopreversedmod,
gravelowmod,
linevert,
macronsub,
primemod,
ringhalfleft,
ringhalfright,
verticallinelowmod,
Omegaroundcyrillic,
omegaroundcyrillic,
Omegatitlocyrillic,
omegatitlocyrillic,
Otcyrillic,
otcyrillic,
uni2DFF,
_part.f_base,
_part.t_base,
_part.romaneight.1,
_part.romanseven.1,
_part.romanthree.1,
_part.romantwelve.1,
_part.romantwo.1,
diamondwhite_x,
G.1,
Gbar.1,
Ghook.1,
Gcircumflex.1,
Gbreve.1,
Gdotaccent.1,
Gcommaaccent.1,
Gcaron.1,
Gacute.1,
Gmacron.1,
I.1,
Idieresis.1,
Idieresisacute.1,
Istroke.1,
Itildebelow.1,
Igrave.1,
Iacute.1,
Icircumflex.1,
Itilde.1,
Imacron.1,
Ibreve.1,
Iogonek.1,
Idotaccent.1,
Icaron.1,
Idblgrave.1,
Iinvertedbreve.1,
Ihookabove.1,
Idotbelow.1,
uni1F38.1,
uni1F39.1,
uni1F3A.1,
uni1F3B.1,
uni1F3C.1,
uni1F3D.1,
uni1F3E.1,
uni1F3F.1,
uni1FD8.1,
uni1FD9.1,
uni1FDA.1,
uni1FDB.1,
afii10055.1,
afii10056.1,
a.1,
aacute.1,
abreve.1,
abreveacute.1,
abrevedotbelow.1,
abrevegrave.1,
abrevehookabove.1,
abrevetilde.1,
acaron.1,
acircumflex.1,
acircumflexacute.1,
acircumflexdotbelow.1,
acircumflexgrave.1,
acircumflexhookabove.1,
acircumflextilde.1,
adblgrave.1,
adieresis.1,
adieresismacron.1,
uni0227.1,
adotbelow.1,
adotmacron.1,
agrave.1,
ahookabove.1,
ainvertedbreve.1,
amacron.1,
aogonek.1,
arighthalfring.1,
aring.1,
aringacute.1,
aringbelow.1,
atilde.1,
uni1E2D.ccmp,
uni012F.ccmp,
uni1ECB.ccmp,
uni0249.ccmp,
jcrosstail.ccmp,
l.ss02,
lslash.ss02,
lbar.ss02,
lmidtilde.ss02,
lbelt.ss02,
ldot.ss02,
lacute.ss02,
lcommaaccent.ss02,
lcaron.ss02,
ldotbelow.ss02,
ldotbelowmacron.ss02,
llinebelow.ss02,
lcircumflexbelow.ss02,
rrthook,
rdescend,
germandbls.1,
zero.slash,
one.ss01,
three.1,
four.ss01,
six.ss01,
nine.ss01,
zero.tf,
one.tf,
two.tf,
three.tf,
four.tf,
five.tf,
six.tf,
seven.tf,
eight.tf,
nine.tf,
zero.tf.slash,
one.tf.ss01,
three.1.tf,
four.tf.ss01,
six.tf.ss01,
nine.tf.ss01,
comma.tf,
period.tf,
colon.tf,
semicolon.tf,
i.numr,
n.numr,
bracketleft.sups,
bracketright.sups,
b.subs,
c.subs,
d.subs,
f.subs,
g.subs,
q.subs,
w.subs,
y.subs,
z.subs,
bracketleft.subs,
bracketright.subs,
zero.dnomf,
one.dnomf,
two.dnomf,
three.dnomf,
four.dnomf,
five.dnomf,
six.dnomf,
seven.dnomf,
eight.dnomf,
nine.dnomf,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
plus.dnom,
minus.dnom,
equal.dnom,
parenleft.dnom,
parenright.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
plus.numr,
minus.numr,
equal.numr,
parenleft.numr,
parenright.numr,
zero.frac,
one.frac,
two.frac,
three.frac,
four.frac,
five.frac,
six.frac,
seven.frac,
eight.frac,
nine.frac,
cyrillicbreve,
uni0268.ccmp,
uni2071.ccmp,
uni02B2.ccmp,
macronacutecomb.cn,
macrongravecomb.cn,
macronacutecomb.lc,
macrongravecomb.lc,
uni1FFE.tonos,
uni1FCD.tonos,
uni1FDD.tonos,
uni1FCE.tonos,
uni1FDE.tonos,
uni1FCF.tonos,
uni1FDF.tonos,
uni1FEF.tonos,
uni1FFD.tonos,
crossbar,
acutedotcomb.lc,
tildedieresiscomb.lc,
dieresisacutecomb.lc,
carondotcomb.lc,
caronnosp,
caronsubnosp,
ascript_uni02DE,
cyrillichookleft,
dotmacroncomb.lc,
dieresismacroncomb.lc,
dieresisgravecomb.lc,
largerighthook,
tildemacroncomb.lc,
macrondieresiscomb.lc,
tildeacutecomb,
dieresiscaroncomb.lc,
cyrillichook,
ringacute.cn,
circumflexgravecomb.cn,
dieresiscaroncomb.cn,
dieresismacroncomb.cn,
carondotcomb.cn,
breveacutecomb.cn,
acutedotcomb.cn,
brevegravecomb.cn,
tildedieresiscomb.cn,
circumflexhookcomb.cn,
brevetildecomb.cn,
dieresisacutecomb.cn,
dotmacroncomb.cn,
macrondieresiscomb.cn,
dieresisgravecomb.cn,
tildemacroncomb.cn,
circumflextildecomb.cn,
brevehookcomb.cn,
commaaccentrotate.cn,
tonostop,
tildeacutecomb.uc,
exclam.circled,
question.circled,
numbersign.circled,
hyphen.circled,
less.circled,
greater.circled,
equal.circled,
upArrow.circled,
downArrow.circled,
leftArrow.circled,
rightArrow.circled,
dngb_check.circled,
dngb_ballotx.circled,
zero.squared,
one.squared,
two.squared,
three.squared,
four.squared,
five.squared,
six.squared,
seven.squared,
eight.squared,
nine.squared,
exclam.squared,
question.squared,
numbersign.squared,
hyphen.squared,
less.squared,
greater.squared,
equal.squared,
plus.squared,
minus.squared,
multiply.squared,
divide.squared,
upArrow.squared,
downArrow.squared,
leftArrow.squared,
rightArrow.squared,
dngb_check.squared,
dngb_ballotx.squared,
plus.circled,
minus.circled,
multiply.circled,
divide.circled,
q.sups,
circumflexacutecomb.cn,
uniEE01,
Aringogonek,
Yogonek,
aringogonek,
yogonek,
one_zero.squared,
one_one.squared,
one_two.squared,
one_three.squared,
one_four.squared,
one_five.squared,
one_six.squared,
one_seven.squared,
one_eight.squared,
one_nine.squared,
two_zero.squared,
exclam.blackCircled,
question.blackCircled,
numbersign.blackCircled,
hyphen.blackCircled,
less.blackCircled,
greater.blackCircled,
equal.blackCircled,
upArrow.blackCircled,
downArrow.blackCircled,
leftArrow.blackCircled,
rightArrow.blackCircled,
dngb_check.blackCircled,
dngb_ballotx.blackCircled,
plus.blackCircled,
minus.blackCircled,
multiply.blackCircled,
divide.blackCircled,
zero.roundBlackBox,
one.roundBlackBox,
two.roundBlackBox,
three.roundBlackBox,
four.roundBlackBox,
five.roundBlackBox,
six.roundBlackBox,
seven.roundBlackBox,
eight.roundBlackBox,
nine.roundBlackBox,
one_zero.roundBlackBox,
one_one.roundBlackBox,
one_two.roundBlackBox,
one_three.roundBlackBox,
one_four.roundBlackBox,
one_five.roundBlackBox,
one_six.roundBlackBox,
one_seven.roundBlackBox,
one_eight.roundBlackBox,
one_nine.roundBlackBox,
two_zero.roundBlackBox,
exclam.roundBlackBox,
question.roundBlackBox,
numbersign.roundBlackBox,
hyphen.roundBlackBox,
less.roundBlackBox,
greater.roundBlackBox,
equal.roundBlackBox,
upArrow.roundBlackBox,
downArrow.roundBlackBox,
leftArrow.roundBlackBox,
rightArrow.roundBlackBox,
dngb_check.roundBlackBox,
dngb_ballotx.roundBlackBox,
plus.roundBlackBox,
minus.roundBlackBox,
multiply.roundBlackBox,
divide.roundBlackBox,
upChevron.case,
downChevron.case,
leftChevron.case,
rightChevron.case,
upChevron.circled,
downChevron.circled,
leftChevron.circled,
rightChevron.circled,
upChevron.squared,
downChevron.squared,
leftChevron.squared,
rightChevron.squared,
upChevron.blackCircled,
downChevron.blackCircled,
leftChevron.blackCircled,
rightChevron.blackCircled,
upChevron.roundBlackBox,
downChevron.roundBlackBox,
leftChevron.roundBlackBox,
rightChevron.roundBlackBox,
Dot,
Dot.fill,
commaaccent,
logoCactus,
iconDot,
iconDot.fill,
r.1,
uni024D.1,
racute.1,
rcommaaccent.1,
rcaron.1,
rdblgrave.1,
rinvertedbreve.1,
rdotaccent.1,
rdotbelow.1,
rdotbelowmacron.1,
rlinebelow.1,
zero.slash.circled,
one.ss01.circled,
three.1.circled,
four.ss01.circled,
six.ss01.circled,
nine.ss01.circled,
zero.slash.squared,
one.ss01.squared,
three.1.squared,
four.ss01.squared,
six.ss01.squared,
nine.ss01.squared,
version,
u100000,
u100001,
u100092,
u100093,
u1002B4,
u1002B5,
u1002C2,
u1002C3,
u10046A,
u100000.large,
u100001.large,
u100092.large,
u100093.large,
u1002B4.large,
u1002B5.large,
u1002C2.large,
u1002C3.large,
u10046A.large,
u100000.small,
u100001.small,
u100092.small,
u100093.small,
u1002B4.small,
u1002B5.small,
u1002C2.small,
u1002C3.small,
u10046A.small,
downChevron,
leftChevron,
rightChevron,
upChevron,
Dot.medium,
_tildecross.cn,
casedieresis.cn,
casetilde.cn,
coloncurrency.full,
commaaccentright.cn,
cyrillictail.cn,
cyrillictic.cn,
iconDot.large,
iconDot.small,
koronisaccentleft.cn,
leftLongArrow2.case,
rightLongArrow2.case,
romaneight.1,
romaneleven.1,
romanfour.1,
romannine.1,
romanone.1,
romanseven.1,
romansix.1,
romanthree.1,
romantwelve.1,
romantwo.1,
trianglebullet.case,
Dot.fill.medium,
dngb_ballotx.blackCircled.medium,
dngb_ballotx.circled.medium,
dngb_ballotx.roundBlackBox.medium,
dngb_ballotx.squared.medium,
dngb_check.blackCircled.medium,
dngb_check.circled.medium,
dngb_check.roundBlackBox.medium,
dngb_check.squared.medium,
downChevron.blackCircled.medium,
downChevron.circled.medium,
downChevron.roundBlackBox.medium,
downChevron.squared.medium,
iconDot.fill.large,
iconDot.fill.small,
leftChevron.blackCircled.medium,
leftChevron.circled.medium,
leftChevron.roundBlackBox.medium,
leftChevron.squared.medium,
rightChevron.blackCircled.medium,
rightChevron.circled.medium,
rightChevron.roundBlackBox.medium,
rightChevron.squared.medium,
upChevron.blackCircled.medium,
upChevron.circled.medium,
upChevron.roundBlackBox.medium,
upChevron.squared.medium,
debug1,
hanBase,
symbolBase,
dngb_ballotx.tag,
dngb_check.tag,
downChevron.tag,
leftChevron.tag,
rightChevron.tag,
symbolBase.large,
symbolBase.small,
upChevron.tag,
dngb_ballotx.tag.medium,
dngb_check.tag.medium,
downChevron.tag.medium,
leftChevron.tag.medium,
rightChevron.tag.medium,
upChevron.tag.medium
)